.wiretop {
    height: 80px;
    width: 10px;
    background-color: black;
}

.center{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    height: 300px;
    width: 125px;
    background-color: black;
    border-radius: 16px;
}

.light{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius:100px ;
}

.red{
background-color: red;
}

.yellow{
background-color: yellow;
}

.green{
background-color: green;
}

.ambient{
    box-shadow: ;
}